In [1]:
import pandas as pd

In [9]:
raw_df = pd.read_csv('raw_data.csv', header=1)
raw_df.info

<bound method DataFrame.info of          Country          Sex              2019              2018  \
0    Afghanistan   Both sexes     6.0 [3.4-9.9]     5.9 [3.4-9.8]
1    Afghanistan         Male    6.2 [3.5-10.5]    6.2 [3.5-10.4]
2    Afghanistan       Female     5.7 [3.2-9.2]     5.6 [3.2-9.1]
3        Albania   Both sexes     3.7 [2.1-5.7]     3.9 [2.2-6.0]
4        Albania         Male     5.3 [2.7-8.3]     5.6 [2.9-8.7]
..           ...          ...               ...               ...
544       Zambia         Male  25.7 [16.0-39.0]  28.1 [17.7-42.4]
545       Zambia       Female     5.3 [3.1-8.4]     6.0 [3.5-9.6]
546     Zimbabwe   Both sexes  23.6 [12.6-37.5]  23.9 [12.7-37.8]
547     Zimbabwe         Male  37.8 [19.6-59.0]  38.6 [19.8-60.3]
548     Zimbabwe       Female   13.5 [7.5-22.0]   13.5 [7.6-21.9]

                 2017              2016              2015              2014  \
0       6.0 [3.4-9.9]     6.0 [3.5-9.9]     6.0 [3.5-9.9]     6.0 [3.5-9.9]
1      6.3 [3.7-10.7]    6.2 [3.6-10.3]    6.1 [3.6-10.2]    6.1 [3.6-10.2]
2       5.5 [3.1-9.0]     5.8 [3.3-9.5]     5.8 [3.3-9.4]     5.9 [3.4-9.5]
3       4.1 [2.3-6.3]     4.2 [2.3-6.3]     4.2 [2.3-6.4]     4.5 [2.5-6.7]
4       5.7 [2.9-9.0]     5.7 [2.9-8.8]     5.7 [2.9-8.7]     6.2 [3.1-9.3]
..                ...               ...               ...               ...
544  29.1 [18.4-43.7]  29.1 [18.5-43.5]  30.0 [19.2-44.6]  30.2 [19.5-44.5]
545    6.6 [3.9-10.6]    6.7 [3.9-10.7]    7.1 [4.2-11.2]    7.9 [4.7-12.4]
546  25.9 [13.8-40.9]  28.7 [15.4-45.3]  30.7 [16.6-48.3]  30.8 [16.7-48.4]
547  41.3 [21.2-64.6]  44.5 [22.8-69.2]  47.4 [24.5-73.4]  45.3 [23.5-70.1]
548   15.0 [8.5-24.3]  17.7 [10.0-28.6]  19.2 [11.0-30.9]  21.1 [12.1-33.9]

                 2013              2012  ...              2009  \
0      6.2 [3.6-10.2]    6.2 [3.6-10.2]  ...    6.8 [4.0-11.1]
1      6.3 [3.7-10.5]    6.4 [3.7-10.5]  ...    7.0 [4.1-11.6]
2       6.0 [3.5-9.8]     6.1 [3.6-9.8]  ...    6.6 [3.9-10.5]
3       4.8 [2.7-7.1]     4.8 [2.8-7.0]  ...    8.0 [4.8-10.8]
4       6.5 [3.4-9.7]     6.6 [3.4-9.6]  ...   10.2 [5.4-14.0]
..                ...               ...  ...               ...
544  30.0 [19.4-44.1]  31.1 [20.3-45.5]  ...  32.6 [21.5-47.5]
545    8.5 [5.1-13.3]    8.7 [5.2-13.5]  ...    8.4 [5.1-12.9]
546  31.4 [17.2-48.9]  33.1 [18.1-51.3]  ...  35.2 [19.3-55.1]
547  46.4 [24.2-71.2]  50.7 [26.6-77.7]  ...  48.3 [25.3-73.9]
548  21.3 [12.3-34.1]  20.9 [12.1-33.2]  ...  26.9 [15.3-43.5]

                 2008              2007              2006              2005  \
0      7.2 [4.2-11.7]    7.4 [4.3-12.1]    7.6 [4.4-12.3]    7.6 [4.4-12.3]
1      7.4 [4.3-12.2]    7.7 [4.5-12.6]    7.8 [4.5-12.7]    7.8 [4.5-12.7]
2      6.9 [4.0-11.0]    7.1 [4.2-11.4]    7.3 [4.3-11.7]    7.4 [4.3-11.9]
3      8.1 [5.0-10.8]    8.1 [5.0-10.6]    7.8 [5.0-10.2]    7.7 [4.9-10.0]
4     10.5 [5.6-14.2]   10.5 [5.8-14.1]   10.1 [5.7-13.4]   10.2 [5.9-13.4]
..                ...               ...               ...               ...
544  32.8 [21.6-47.9]  33.4 [21.9-49.4]  35.6 [23.3-52.9]  35.8 [23.2-53.4]
545    8.2 [5.0-12.7]    9.2 [5.6-14.3]   11.0 [6.6-17.2]   11.4 [6.8-18.1]
546  31.7 [17.3-49.5]  27.2 [14.7-42.5]  22.0 [11.7-34.5]  22.0 [11.7-34.4]
547  42.0 [21.9-64.0]  36.3 [18.8-55.2]  28.5 [14.5-43.3]  32.1 [16.7-48.9]
548  25.5 [14.4-41.1]  21.8 [12.0-35.1]   18.2 [9.9-29.7]   15.2 [8.2-24.9]

                 2004              2003              2002              2001  \
0      7.8 [4.5-12.6]    7.7 [4.5-12.5]    7.9 [4.5-12.8]    7.9 [4.5-12.8]
1      7.9 [4.5-12.9]    7.8 [4.5-12.8]    8.0 [4.6-13.1]    7.9 [4.5-12.9]
2      7.6 [4.4-12.2]    7.6 [4.5-12.2]    7.7 [4.5-12.4]    7.9 [4.6-12.6]
3       4.9 [3.1-6.3]     4.9 [3.3-6.4]     4.8 [3.2-6.3]     4.7 [3.2-6.2]
4       6.7 [4.0-8.8]     6.6 [4.1-8.7]     6.6 [4.1-8.7]     6.5 [4.2-8.5]
..                ...               ...               ...               ...
544  35.8 [23.2-53.4]  34.2 [22.0-51.2]  34.5 [22.1-51.9]  34.3 [21.8-51.7]
545   11.9 [7.0-18.8]   11.4 [6.7-18.1]   12.6 [7.3-20.0]   13.4 [7.8-21.3]
546  21.5 [11.4-33.7]  20.2 [10.7-31.7]  20.3 [10.7-32.0]  19.5 [10.2-30.7]
547  30.1 [15.6-45.7]  29.4 [15.5-44.3]  29.8 [15.7-44.8]  28.6 [15.1-42.8]
548   15.7 [8.5-26.0]   13.7 [7.2-22.9]   13.5 [7.0-22.9]   13.0 [6.6-22.3]

                 2000
0      7.7 [4.4-12.5]
1      7.6 [4.4-12.5]
2      7.8 [4.5-12.4]
3       5.2 [3.6-6.9]
4      7.6 [5.1-10.1]
..                ...
544  35.9 [22.8-54.0]
545   14.5 [8.5-23.1]
546  20.0 [10.3-31.5]
547  28.2 [14.8-42.1]
548   14.2 [7.0-24.4]

[549 rows x 22 columns]>

In [12]:
pd.read_csv('raw_data.csv').shape

(550, 22)

In [13]:
raw_df.shape

(549, 22)

In [14]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  549 non-null    object
 1   Sex      549 non-null    object
 2    2019    549 non-null    object
 3    2018    549 non-null    object
 4    2017    549 non-null    object
 5    2016    549 non-null    object
 6    2015    549 non-null    object
 7    2014    549 non-null    object
 8    2013    549 non-null    object
 9    2012    549 non-null    object
 10   2011    549 non-null    object
 11   2010    549 non-null    object
 12   2009    549 non-null    object
 13   2008    549 non-null    object
 14   2007    549 non-null    object
 15   2006    549 non-null    object
 16   2005    549 non-null    object
 17   2004    549 non-null    object
 18   2003    549 non-null    object
 19   2002    549 non-null    object
 20   2001    549 non-null    object
 21   2000    549 non-null    object
dtypes: object(22)
memory usage: 94.5+ KB

In [15]:
raw_df.head()

,Country,Sex,2019,2018,2017,2016,2015,2014,2013,2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Afghanistan,Both sexes,6.0 [3.4-9.9],5.9 [3.4-9.8],6.0 [3.4-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9],6.2 [3.6-10.2],6.2 [3.6-10.2],...,6.8 [4.0-11.1],7.2 [4.2-11.7],7.4 [4.3-12.1],7.6 [4.4-12.3],7.6 [4.4-12.3],7.8 [4.5-12.6],7.7 [4.5-12.5],7.9 [4.5-12.8],7.9 [4.5-12.8],7.7 [4.4-12.5]
1,Afghanistan,Male,6.2 [3.5-10.5],6.2 [3.5-10.4],6.3 [3.7-10.7],6.2 [3.6-10.3],6.1 [3.6-10.2],6.1 [3.6-10.2],6.3 [3.7-10.5],6.4 [3.7-10.5],...,7.0 [4.1-11.6],7.4 [4.3-12.2],7.7 [4.5-12.6],7.8 [4.5-12.7],7.8 [4.5-12.7],7.9 [4.5-12.9],7.8 [4.5-12.8],8.0 [4.6-13.1],7.9 [4.5-12.9],7.6 [4.4-12.5]
2,Afghanistan,Female,5.7 [3.2-9.2],5.6 [3.2-9.1],5.5 [3.1-9.0],5.8 [3.3-9.5],5.8 [3.3-9.4],5.9 [3.4-9.5],6.0 [3.5-9.8],6.1 [3.6-9.8],...,6.6 [3.9-10.5],6.9 [4.0-11.0],7.1 [4.2-11.4],7.3 [4.3-11.7],7.4 [4.3-11.9],7.6 [4.4-12.2],7.6 [4.5-12.2],7.7 [4.5-12.4],7.9 [4.6-12.6],7.8 [4.5-12.4]
3,Albania,Both sexes,3.7 [2.1-5.7],3.9 [2.2-6.0],4.1 [2.3-6.3],4.2 [2.3-6.3],4.2 [2.3-6.4],4.5 [2.5-6.7],4.8 [2.7-7.1],4.8 [2.8-7.0],...,8.0 [4.8-10.8],8.1 [5.0-10.8],8.1 [5.0-10.6],7.8 [5.0-10.2],7.7 [4.9-10.0],4.9 [3.1-6.3],4.9 [3.3-6.4],4.8 [3.2-6.3],4.7 [3.2-6.2],5.2 [3.6-6.9]
4,Albania,Male,5.3 [2.7-8.3],5.6 [2.9-8.7],5.7 [2.9-9.0],5.7 [2.9-8.8],5.7 [2.9-8.7],6.2 [3.1-9.3],6.5 [3.4-9.7],6.6 [3.4-9.6],...,10.2 [5.4-14.0],10.5 [5.6-14.2],10.5 [5.8-14.1],10.1 [5.7-13.4],10.2 [5.9-13.4],6.7 [4.0-8.8],6.6 [4.1-8.7],6.6 [4.1-8.7],6.5 [4.2-8.5],7.6 [5.1-10.1]

In [28]:
df = raw_df.melt(id_vars = ['Country','Sex'], 
                 value_vars = list(raw_df.columns[2:]),
                 var_name = 'year',        
                 value_name = 'rate')
df.head()

       Country          Sex   year            rate
0  Afghanistan   Both sexes   2019   6.0 [3.4-9.9]
1  Afghanistan         Male   2019  6.2 [3.5-10.5]
2  Afghanistan       Female   2019   5.7 [3.2-9.2]
3      Albania   Both sexes   2019   3.7 [2.1-5.7]
4      Albania         Male   2019   5.3 [2.7-8.3]

In [30]:
df.query('Country=="Japan"')

      Country          Sex   year              rate
249     Japan   Both sexes   2019  12.2 [11.6-12.9]
250     Japan         Male   2019  17.5 [16.7-18.3]
251     Japan       Female   2019     6.9 [6.5-7.4]
798     Japan   Both sexes   2018  13.4 [12.7-14.0]
799     Japan         Male   2018  18.8 [18.1-19.6]
800     Japan       Female   2018     7.9 [7.4-8.4]
1347    Japan   Both sexes   2017  13.5 [12.9-14.0]
1348    Japan         Male   2017  19.4 [18.7-20.1]
1349    Japan       Female   2017     7.6 [7.1-8.0]
1896    Japan   Both sexes   2016  13.7 [13.2-14.2]
1897    Japan         Male   2016  19.7 [19.1-20.3]
1898    Japan       Female   2016     7.7 [7.3-8.1]
2445    Japan   Both sexes   2015  14.9 [14.3-18.1]
2446    Japan         Male   2015  21.4 [20.7-27.3]
2447    Japan       Female   2015     8.4 [7.9-8.8]
2994    Japan   Both sexes   2014  15.8 [15.2-21.5]
2995    Japan         Male   2014  22.4 [21.7-28.2]
2996    Japan       Female   2014    9.1 [8.6-14.9]
3543    Japan   Both sexes   2013  16.7 [16.1-19.9]
3544    Japan         Male   2013  23.9 [23.2-29.7]
3545    Japan       Female   2013    9.5 [9.0-10.0]
4092    Japan   Both sexes   2012  17.0 [16.4-17.5]
4093    Japan         Male   2012  24.4 [23.7-25.0]
4094    Japan       Female   2012    9.7 [9.1-10.1]
4641    Japan   Both sexes   2011  18.4 [17.8-19.0]
4642    Japan         Male   2011  25.9 [25.2-26.6]
4643    Japan       Female   2011  11.0 [10.4-11.4]
5190    Japan   Both sexes   2010  18.8 [18.1-19.4]
5191    Japan         Male   2010  27.4 [26.6-28.1]
5192    Japan       Female   2010   10.3 [9.7-10.7]
5739    Japan   Both sexes   2009  19.5 [18.8-20.1]
5740    Japan         Male   2009  28.6 [27.8-29.3]
5741    Japan       Female   2009   10.5 [9.9-10.9]
6288    Japan   Both sexes   2008  19.0 [18.4-22.2]
6289    Japan         Male   2008  27.6 [26.8-28.3]
6290    Japan       Female   2008  10.6 [10.0-16.4]
6837    Japan   Both sexes   2007  19.1 [18.5-19.7]
6838    Japan         Male   2007  27.9 [27.2-28.6]
6839    Japan       Female   2007   10.5 [9.9-10.9]
7386    Japan   Both sexes   2006  18.4 [17.8-21.5]
7387    Japan         Male   2006  26.9 [26.1-32.5]
7388    Japan       Female   2006   10.2 [9.6-10.6]
7935    Japan   Both sexes   2005  18.8 [18.2-21.8]
7936    Japan         Male   2005  27.9 [27.1-33.4]
7937    Japan       Female   2005    9.9 [9.4-10.3]
8484    Japan   Both sexes   2004  18.4 [17.8-18.9]
8485    Japan         Male   2004  27.4 [26.6-28.1]
8486    Japan       Female   2004    9.6 [9.1-10.0]
9033    Japan   Both sexes   2003  19.5 [18.9-22.5]
9034    Japan         Male   2003  29.2 [28.4-29.9]
9035    Japan       Female   2003   10.1 [9.5-15.5]
9582    Japan   Both sexes   2002  17.9 [17.3-18.4]
9583    Japan         Male   2002  26.7 [25.9-27.4]
9584    Japan       Female   2002     9.3 [8.8-9.7]
10131   Japan   Both sexes   2001  17.5 [16.8-20.4]
10132   Japan         Male   2001  25.9 [25.1-31.3]
10133   Japan       Female   2001     9.3 [8.8-9.7]
10680   Japan   Both sexes   2000  18.1 [17.4-18.6]
10681   Japan         Male   2000  26.8 [26.0-27.5]
10682   Japan       Female   2000    9.6 [9.1-10.0]

In [31]:
df[df['Country']=='Japan']

      Country          Sex   year              rate
249     Japan   Both sexes   2019  12.2 [11.6-12.9]
250     Japan         Male   2019  17.5 [16.7-18.3]
251     Japan       Female   2019     6.9 [6.5-7.4]
798     Japan   Both sexes   2018  13.4 [12.7-14.0]
799     Japan         Male   2018  18.8 [18.1-19.6]
800     Japan       Female   2018     7.9 [7.4-8.4]
1347    Japan   Both sexes   2017  13.5 [12.9-14.0]
1348    Japan         Male   2017  19.4 [18.7-20.1]
1349    Japan       Female   2017     7.6 [7.1-8.0]
1896    Japan   Both sexes   2016  13.7 [13.2-14.2]
1897    Japan         Male   2016  19.7 [19.1-20.3]
1898    Japan       Female   2016     7.7 [7.3-8.1]
2445    Japan   Both sexes   2015  14.9 [14.3-18.1]
2446    Japan         Male   2015  21.4 [20.7-27.3]
2447    Japan       Female   2015     8.4 [7.9-8.8]
2994    Japan   Both sexes   2014  15.8 [15.2-21.5]
2995    Japan         Male   2014  22.4 [21.7-28.2]
2996    Japan       Female   2014    9.1 [8.6-14.9]
3543    Japan   Both sexes   2013  16.7 [16.1-19.9]
3544    Japan         Male   2013  23.9 [23.2-29.7]
3545    Japan       Female   2013    9.5 [9.0-10.0]
4092    Japan   Both sexes   2012  17.0 [16.4-17.5]
4093    Japan         Male   2012  24.4 [23.7-25.0]
4094    Japan       Female   2012    9.7 [9.1-10.1]
4641    Japan   Both sexes   2011  18.4 [17.8-19.0]
4642    Japan         Male   2011  25.9 [25.2-26.6]
4643    Japan       Female   2011  11.0 [10.4-11.4]
5190    Japan   Both sexes   2010  18.8 [18.1-19.4]
5191    Japan         Male   2010  27.4 [26.6-28.1]
5192    Japan       Female   2010   10.3 [9.7-10.7]
5739    Japan   Both sexes   2009  19.5 [18.8-20.1]
5740    Japan         Male   2009  28.6 [27.8-29.3]
5741    Japan       Female   2009   10.5 [9.9-10.9]
6288    Japan   Both sexes   2008  19.0 [18.4-22.2]
6289    Japan         Male   2008  27.6 [26.8-28.3]
6290    Japan       Female   2008  10.6 [10.0-16.4]
6837    Japan   Both sexes   2007  19.1 [18.5-19.7]
6838    Japan         Male   2007  27.9 [27.2-28.6]
6839    Japan       Female   2007   10.5 [9.9-10.9]
7386    Japan   Both sexes   2006  18.4 [17.8-21.5]
7387    Japan         Male   2006  26.9 [26.1-32.5]
7388    Japan       Female   2006   10.2 [9.6-10.6]
7935    Japan   Both sexes   2005  18.8 [18.2-21.8]
7936    Japan         Male   2005  27.9 [27.1-33.4]
7937    Japan       Female   2005    9.9 [9.4-10.3]
8484    Japan   Both sexes   2004  18.4 [17.8-18.9]
8485    Japan         Male   2004  27.4 [26.6-28.1]
8486    Japan       Female   2004    9.6 [9.1-10.0]
9033    Japan   Both sexes   2003  19.5 [18.9-22.5]
9034    Japan         Male   2003  29.2 [28.4-29.9]
9035    Japan       Female   2003   10.1 [9.5-15.5]
9582    Japan   Both sexes   2002  17.9 [17.3-18.4]
9583    Japan         Male   2002  26.7 [25.9-27.4]
9584    Japan       Female   2002     9.3 [8.8-9.7]
10131   Japan   Both sexes   2001  17.5 [16.8-20.4]
10132   Japan         Male   2001  25.9 [25.1-31.3]
10133   Japan       Female   2001     9.3 [8.8-9.7]
10680   Japan   Both sexes   2000  18.1 [17.4-18.6]
10681   Japan         Male   2000  26.8 [26.0-27.5]
10682   Japan       Female   2000    9.6 [9.1-10.0]